/* #region common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #ff6900;
  --footer-color: #1a1a1a;
  --lighter-color: white;
  --darker-color: black;
}

.debug {

  * {
    border: 1px dashed;
  }

}

/* #endregion common */

/* #region utilities */

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

/* #endregion utilities */

/* #region header */

header {
  height: 80px;
  background-color: var(--header-color);

  .container {
    width: 70%;
    height: 100%;
    margin: auto;

    div>a {
      text-decoration: none;
      color: var(--lighter-color);
      font-size: 1rem;
      font-weight: 700;
      margin-right: 0.5rem;
    }

    img {
      height: 100%;
      padding: 1.5rem 0;
    }

    i {
      color: var(--lighter-color);
      margin-right: 0.5rem;
    }
  }
}

/* #endregion header */

/* #region main */

.row-container {
  width: 70%;
  min-height: 500px;
  margin: 3rem auto;

  .card {
    width: 32%;
    background-color: red;
  }
}

/* #endregion main */

/* #region footer */

footer {
  background-color: var(--footer-color);

  .container {
    width: 70%;
    margin: auto;
    padding: 2rem 0;

    h3 {
      color: var(--lighter-color);
      margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
      color: var(--lighter-color);
      font-size: 0.75rem;
      margin-right: 0.5rem;
    }

    h4 {
      color: var(--lighter-color);
      margin-bottom: 0.75rem;
    }

    i {
      color: var(--lighter-color);
      font-size: 1.5rem;
      margin-right: 0.25rem;
    }
  }
}

/* #endregion footer */